*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/gen/com/xmn/dataadapter/example/BuildConfig.java
/app/src/main/gen/com/xmn/dataadapter/example/Manifest.java
/app/src/main/gen/com/xmn/dataadapter/example/R.java
/gen/com/xmn/dataadapter/example/BuildConfig.java
/gen/com/xmn/dataadapter/example/Manifest.java
/gen/com/xmn/dataadapter/example/R.java
.idea/
